<html>

<head>
    <title>HostXtra</title>

    <link rel="stylesheet" type="text/css" href="/libraries/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/libraries/@fortawesome/fontawesome-free/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <script src="/libraries/jquery/dist/jquery.min.js"></script>
    <script src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/static/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-mini">
        <div class="container">
            <ul class="navbar-nav navbar-contact mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-phone"></i> +44 (0)1234 567890</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-envelope"></i> info@hostxtra.co.uk</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-social ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-social-f" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-social-t" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-social-g" href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-social-r" href="#">
                        <i class="fas fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light navbar-main">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{#ifeq pagename "home"}}active{{/ifeq}}">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown {{#ifeq pagename "hosting"}}active{{/ifeq}}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Hosting
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/hosting/shared">Shared Hosting</a>
                            <a class="dropdown-item" href="/hosting/vps">VPS Hosting</a>
                            <a class="dropdown-item" href="/hosting/dedicated">Dedicated Hosting</a>
                            <a class="dropdown-item" href="/hosting/game">Game Hosting</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Domains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>

</html>
