body.maintenance{
    background:#0ca3d2;
}

body.maintenance .logo{
    position:absolute;
    left:50%;
    top:200px;
    font-size:40px;
    font-weight:bold;
    width:450px;
    color:#fff;
    margin-left:-225px;
}

h1 {
    font-size: 64px;
    color: #555555;
    margin: 0;
}

.textbox{
    width:800px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-200px;
    background:rgba(20,20,20,0.08);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.textbox .textinner{
    height:380px;
    margin:10px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    position:relative;
}

.textbox .textinner .texttop {
    height:50px;
    background:#f3f3f3;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position:relative;
    border-bottom:1px solid #b6b6b6;
}

.textbox .textinner .texttop h1{
    font-size:18px;
    position:absolute;
    top:18px;
    left:50%;
    margin-left:-121.5px;
}

.textbox .textinner .textbot{
    -webkit-box-shadow:inset 0 1px 0 0 rgba(20,20,20,0.07);
    box-shadow:inset 0 1px 0 0 rgba(20,20,20,0.07);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background:#ffffff;
    height:330px;
    position:relative;
}

.textbox .textinner .textbot .text{
    position:absolute;
    left:25px;
    top:30px;
    width:700px;
    font-size:13px;
}

.loginbox .logininner .loginbot .loginbutton{
    position:absolute;
    right:25px;
    top:180px;
}

.loginbox .logininner .loginbot .loginbutton input[type="submit"]{
    background: #34a5cf;
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    width:100px;
    height:35px;
    border-radius: 3px;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 0 4px 0 rgba(0,0,0,0.3);
}
.loginbox .logininner .loginbot .loginbutton input[type="submit"]:hover{
    background: #34a5cf;
    background: -moz-linear-gradient(#35c3ee, #2a8ac4);
    background: -ms-linear-gradient(#35c3ee, #2a8ac4);
    background: -o-linear-gradient(#35c3ee, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#35c3ee), to(#2a8ac4));
    background: -webkit-linear-gradient(#35c3ee, #2a8ac4);
    background: linear-gradient(#35c3ee, #2a8ac4);
}

.loginbox .logininner .loginbot .loginbutton input[type="submit"]:focus, .inputdiv input:focus{
    outline: none;
}

.inputdiv{
    background:rgba(20,20,20,0.1);
    width:480px;
    height:50px;
    position:absolute;
    left:25px;
    bottom:80px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.inputdiv input{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin:7px;
    height:35px;
    width:465px;
    border:1px solid #c4c4c4;
    padding-left:10px;
    -webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.1);
    color:#000;
}

.emailbutton{
    position:absolute;
    left:525px;
    bottom:87px;
}

.emailbutton input[type="submit"]{
    background: #34a5cf;
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    width:100px;
    height:35px;
    border-radius: 3px;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 0 4px 0 rgba(0,0,0,0.3);
}
.emailbutton input[type="submit"]:hover{
    background: #34a5cf;
    background: -moz-linear-gradient(#35c3ee, #2a8ac4);
    background: -ms-linear-gradient(#35c3ee, #2a8ac4);
    background: -o-linear-gradient(#35c3ee, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#35c3ee), to(#2a8ac4));
    background: -webkit-linear-gradient(#35c3ee, #2a8ac4);
    background: linear-gradient(#35c3ee, #2a8ac4);
}

.emailbutton input[type="submit"]:focus, .inputdiv input:focus{
    outline: none;
}

.elispe{
    background-image: radial-gradient(100px at 500px 50% , rgba(255,255,255,0.6) 0%, rgba(0, 0, 0, 0) 500px);
    width:1000px;
    height:1000px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-500px;
    margin-top:-500px;
}

