<div class="features-display">
    <div class="container">
        <div class="row feature-row" id="feature-1">
            <div class="col-12 col-md-6">
                <h2>Shared</h2>
                <h3>Hosting Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.

                    </p>
                    <a href="#">
                        <button class="btn btn-primary">View Details</button>
                    </a>
            </div>
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="feature-image">
                    <img src="/client/app/images/shared_hosting.svg" />
                </div>
            </div>
        </div>
        <div class="row feature-row" id="feature-2">
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="feature-image">
                    <img src="/client/app/images/vps_hosting.svg" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h2>VPS</h2>
                <h3>Hosting Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.

                    </p>
                    <a href="#">
                        <button class="btn btn-primary">View Details</button>
                    </a>
            </div>
        </div>
        <div class="row feature-row" id="feature-3">
            <div class="col-12 col-md-6">
                <h2>Dedicated</h2>
                <h3>Hosting Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.

                    </p>
                    <a href="#">
                        <button class="btn btn-primary">View Details</button>
                    </a>
            </div>
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="feature-image">
                    <img src="/client/app/images/dedicated_hosting.svg" />
                </div>
            </div>
        </div>
        <div class="row feature-row" id="feature-4">
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="feature-image">
                    <img src="/client/app/images/shared_hosting.svg" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h2>Gaming</h2>
                <h3>Hosting Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.

                    </p>
                    <a href="#">
                        <button class="btn btn-primary">View Details</button>
                    </a>
            </div>
        </div>
        <div class="row feature-buttons">
            <div class="col-12 col-md-3 feature-button active" data-for-id="1">
                <h4>Shared Hosting</h4>
            </div>
            <div class="col-12 col-md-3 feature-button" data-for-id="2">
                <h4>VPS Hosting</h4>
            </div>
            <div class="col-12 col-md-3 feature-button" data-for-id="3">
                <h4>Dedicated Hosting</h4>
            </div>
            <div class="col-12 col-md-3 feature-button" data-for-id="4">
                <h4>Game Hosting</h4>
            </div>
        </div>
    </div>
</div>
</div>