html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.btn {
    padding: 10px 20px;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-primary {
    background: #0a466e;
    border-color: #073350;
    color: #fff;
}

.btn-primary:hover {
    background: #fff;
    color: #073350;
}

.navbar {
    padding: 0;
}

.navbar-mini {
    background: #073350;
    color: #fff;
}

.navbar-mini .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-mini .navbar-social .nav-link:hover {
    background: #fff;
}

.navbar-mini .nav-social-f:hover {
    color: #3b5998;
}

.navbar-mini .nav-social-t:hover {
    color: #1dcaff;
}

.navbar-mini .nav-social-g:hover {
    color: #008744;
}

.navbar-mini .nav-social-r:hover {
    color: #ffa700;
}

.navbar-main {
    height: 70px;
}

.navbar-main .navbar-toggler {
    background: #eee;
    margin-right: 5px;
}

.navbar-main .navbar-toggler .navbar-toggler-icon {
    width: 20px;
    height: 20px;
}

.navbar-main .navbar-brand {
    padding: 0;
}

.navbar-main .navbar-nav a.nav-link {
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
}

.navbar-main .navbar-nav .nav-item.active, .navbar-main .navbar-nav .nav-item:hover {
    border-bottom: 5px solid #25afdc;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 70%;
}

.features-display {
    background: #25afdc;
    height: 400px;
    position: relative;
}

.features-display .container {
    position: relative;
}

.features-display h2, .features-display h3 {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.features-display h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 40px;
}

.features-display h3 {
    margin-bottom: 20px;
}

.features-display p {
    color: #fff;
    font-size: 15px;
}

.features-display .feature-image {
    background: #ffffff;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05);
}

.features-display .feature-image img {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.features-display .feature-buttons {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.features-display .feature-buttons .feature-button {
    border-right: 1px solid #0a466e;
    float: left;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .navbar-mini {
        display: none;
    }
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .container {
        margin: 0 8px;
        max-width: unset;
    }
    .navbar-main {
        height: auto;
    }
    .navbar-main .navbar-nav a.nav-link {
        height: 35px;
        line-height: 35px;
    }
    .navbar-mini .navbar-nav {
        flex-direction: row;
    }
    .navbar-mini a.nav-link {
        display: inline-block;
    }
    .navbar-mini .navbar-contact .nav-item {
        margin-right: 15px;
    }
    .navbar-mini .navbar-social {
        width: 100px;
        font-size: 14px;
    }
    .navbar-mini .navbar-social .nav-item {
        width: 25px;
        display: inline-block;
        text-align: center;
        float: left;
    }
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}