.panel-wrapper{
    margin-top:50px;
    height:400px;
}
.panel.blue{
    background: #215b7c;
    color: #fff;
    border-color: #217798;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    padding: 12px 0;
}

.panel.radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.panel {
    background: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin-bottom:20px;
    padding: 20px;
    overflow: hidden;
    display:block;
    float:left;
    text-align: center;
    margin-left:18px !important;
}

.panel:last-child{

}
.panel.recommended{
    margin-top:-20px;
}
.panel.recommended .title{
    height:60px;
    line-height: 60px;
}
.panel.recommended .title h3{
    height:60px;
    line-height: 55px;
}
.panel .title {
    text-align: center;
    font-size: 19px;
    margin: 0 0 5px 0;
    padding: 0;
    color: #fff;
    position: relative;
    height:40px;
    overflow: auto;
}

.panel .title h3{
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0 -5px 35px rgba(255,255,255,0.3);
    height:40px;
    line-height: 37px;
}

.panel h4 {
    color: #fff;
    font-size: 26px;
    margin: 0 0 3px 0;
    padding: 0;
}
.panel .price{
    border-top: #1d2f4b solid 1px;
}
.panel .price ,.panel .orderbar {
    text-align: center;
    padding: 7px 0;
    background: #217798 ;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0 -5px 35px rgba(255,255,255,0.3);
    position: relative;
    color:#fff;
    padding-bottom:20px;
}

.panel .orderbar{
    padding-bottom:7px;
}

.panel .price:after {
    content: '';
    width: 100%;
    height: 33px;
    background: transparent url('images/background-overlay-pricing-table.png') no-repeat center top;
    position: absolute;
    bottom: 0;
    left: 0;
}

.panel .elements{
    background:#ffffff;
    padding-top:10px;
    padding-bottom:15px;
}

.panel ul{
    line-height: 1.6;
    list-style: none;
    margin:0;
    padding: 0;
}

.panel ul li {
    padding: 2px;
    font-size: 12px;
    color: #000000;
}

.panel .button, .homepage-services .button{
    color:#fff;
    width: auto;
    cursor: pointer;
    display: inline-block;
    line-height: 100%;
    margin: 0;
    outline: none;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #d74937;
    -webkit-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #2d2d2d;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    font-weight: 600;
}
.panel .button.radius, .homepage-services .button.radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.panel.blue .button, .homepage-services .button {
    background: #edecf2;
    border: none;
    color: #363636;
    text-shadow: none;
    font-size: 13px;
}
.panel.blue .button:hover, .homepage-services .button:hover {
    background: #d5d4da;
}

